[submodule "dep/efsw"]
	update = none
	path = dep/efsw
	url = https://github.com/SpartanJ/efsw.git
	branch = master
    
[submodule "dep/glfw"]
    update = none
    path = dep/glfw
    url = https://github.com/glfw/glfw.git
    branch = master
    
[submodule "dep/glm"]
    update = none
    path = dep/glm
    url = https://github.com/g-truc/glm.git
    branch = master

[submodule "dep/imgui"]
    update = none
    path = dep/imgui
    url = https://github.com/ocornut/imgui.git
    branch = master

[submodule "dep/implot"]
    update = none
    path = dep/implot
    url = https://github.com/epezent/implot.git
    branch = master

[submodule "dep/entt"]
    update = none
    path = dep/entt
    url = https://github.com/skypjack/entt.git
    branch = master

[submodule "dep/opengametools"]
    update = none
    path = dep/opengametools
    url = https://github.com/jpaver/opengametools.git
    branch = master

[submodule "dep/shaderc"]
    update = none
    path = dep/shaderc
    url = https://github.com/google/shaderc.git
    branch = master

[submodule "dep/spdlog"]
    update = none
    path = dep/spdlog
    url = https://github.com/gabime/spdlog.git
    branch = master

[submodule "dep/stb"]
    update = none
    path = dep/stb
    url = https://github.com/nothings/stb.git
    branch = master

[submodule "dep/tomlplusplus"]
    update = none
    path = dep/tomlplusplus
    url = https://github.com/marzer/tomlplusplus.git
    branch = master

[submodule "dep/volk"]
    update = none
    path = dep/volk
    url = https://github.com/zeux/volk.git
    branch = master

[submodule "dep/VulkanMemoryAllocator"]
    update = none
    path = dep/VulkanMemoryAllocator
    url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
    branch = master
